langchain
openai==0.27.8
numpy
datasets
fuzzywuzzy
python-Levenshtein
transformers
sacrebleu
sacremoses
faiss-cpu
nltk
scikit-learn
evaluate
torch
lexical-diversity
dirtyjson
sentence-transformers
pynvml
wandb
bitsandbytes
accelerate
sacrebleu==2.4.0
bert_score==0.3.13